# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key

# Encryption Configuration
ENCRYPTION_KEY=your-encryption-key

# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017/Zone-Debrid